In [1]:
import QuantLib as ql
import pandas as pd

## Calendar and schedules

In [2]:
date = ql.Date(31, 3, 2015)
print(date)

March 31st, 2015

In [3]:
date.weekday() == ql.Tuesday

True

In [4]:
type(date+1)

QuantLib.QuantLib.Date

In [5]:
date = date + ql.Period(1, ql.Weeks)

In [6]:
date

Date(7,4,2015)

In [7]:
date = ql.Date(31, 3, 2015)
us_calendar = ql.UnitedStates()
italy_calendar = ql.Italy()

In [8]:
period = ql.Period(60, ql.Days)
raw_date = date + period
us_date = us_calendar.advance(date, period)
italy_date = italy_calendar.advance(date, period)

print("Add 60 days: {0}".format(raw_date))
print("Add 60 business days in US: {0}".format(us_date))
print("Add 60 business days in Italy: {0}".format(italy_date))

Add 60 days: May 30th, 2015
Add 60 business days in US: June 24th, 2015
Add 60 business days in Italy: June 26th, 2015

In [9]:
us_busdays = us_calendar.businessDaysBetween(date, us_date)
italy_busdays = italy_calendar.businessDaysBetween(date, italy_date)
print(us_busdays)
print(italy_busdays)

60
60

In [10]:
joint_calendar = ql.JointCalendar(us_calendar, italy_calendar)

In [11]:
joint_date = joint_calendar.advance(date, period)
joint_busdays = joint_calendar.businessDaysBetween(date, joint_date)

print(joint_date)

June 29th, 2015

In [12]:
effective_date = ql.Date(15,2,2015)
termination_date = ql.Date(1,1,2016)
tenor = ql.Period(ql.Monthly)
calendar = ql.UnitedStates()
business_convention = ql.Following
termination_business_convention = ql.Following
date_generation = ql.DateGeneration.Backward
end_of_month = False

schedule = ql.Schedule(effective_date,
                      termination_date,
                      tenor,
                      calendar,
                      business_convention,
                      termination_business_convention,
                      date_generation,
                      end_of_month)

pd.DataFrame({'date': list(schedule)})

                   date
0   February 17th, 2015
1       March 2nd, 2015
2       April 1st, 2015
3         May 1st, 2015
4        June 1st, 2015
5        July 1st, 2015
6      August 3rd, 2015
7   September 1st, 2015
8     October 1st, 2015
9    November 2nd, 2015
10   December 1st, 2015
11    January 4th, 2016

In [13]:
#short stub in the front
effective_date = ql.Date(1,1,2015)
termination_date = ql.Date(1,1,2016)
first_date = ql.Date(15,1,2015)
schedule = ql.Schedule(effective_date,
                      termination_date,
                      tenor,
                      calendar,
                      business_convention,
                      termination_business_convention,
                      ql.DateGeneration.Backward,
                      end_of_month,
                      first_date)

pd.DataFrame({'date': list(schedule)})

                   date
0     January 2nd, 2015
1    January 15th, 2015
2    February 2nd, 2015
3       March 2nd, 2015
4       April 1st, 2015
5         May 1st, 2015
6        June 1st, 2015
7        July 1st, 2015
8      August 3rd, 2015
9   September 1st, 2015
10    October 1st, 2015
11   November 2nd, 2015
12   December 1st, 2015
13    January 4th, 2016

In [14]:
#short stub at the back
effective_date = ql.Date(1,1,2015)
termination_date = ql.Date(1,1,2016)
penultimate_date = ql.Date(15,12,2015)
schedule = ql.Schedule(effective_date,
                       termination_date,
                       tenor,
                       calendar,
                       business_convention,
                       termination_business_convention,
                       ql.DateGeneration.Forward,
                       end_of_month,
                       ql.Date(),
                       penultimate_date)

pd.DataFrame({'date': list(schedule)})

                   date
0     January 2nd, 2015
1    February 2nd, 2015
2       March 2nd, 2015
3       April 1st, 2015
4         May 1st, 2015
5        June 1st, 2015
6        July 1st, 2015
7      August 3rd, 2015
8   September 1st, 2015
9     October 1st, 2015
10   November 2nd, 2015
11   December 1st, 2015
12  December 15th, 2015
13    January 4th, 2016

In [15]:
#long stub in the front

first_date = ql.Date(1,2,2015)
effective_date = ql.Date(15,12,2014)
termination_date = ql.Date(1,1,2016)
schedule = ql.Schedule(effective_date,
                       termination_date,
                       tenor,
                       calendar,
                       business_convention,
                       termination_business_convention,
                       ql.DateGeneration.Backward,
                       end_of_month,
                       first_date)

pd.DataFrame({'date': list(schedule)})

                   date
0   December 15th, 2014
1    February 2nd, 2015
2       March 2nd, 2015
3       April 1st, 2015
4         May 1st, 2015
5        June 1st, 2015
6        July 1st, 2015
7      August 3rd, 2015
8   September 1st, 2015
9     October 1st, 2015
10   November 2nd, 2015
11   December 1st, 2015
12    January 4th, 2016

In [16]:
#long stub at the back
effective_date = ql.Date(1,1,2015)
penultimate_date = ql.Date(1,12,2015)
termination_date = ql.Date(15,1,2016)
schedule = ql.Schedule(effective_date,
                       termination_date,
                       tenor,
                       calendar,
                       business_convention,
                       termination_business_convention,
                       ql.DateGeneration.Forward,
                       end_of_month,
                       ql.Date(),
                       penultimate_date)

pd.DataFrame({'date': list(schedule)})

                   date
0     January 2nd, 2015
1    February 2nd, 2015
2       March 2nd, 2015
3       April 1st, 2015
4         May 1st, 2015
5        June 1st, 2015
6        July 1st, 2015
7      August 3rd, 2015
8   September 1st, 2015
9     October 1st, 2015
10   November 2nd, 2015
11   December 1st, 2015
12   January 15th, 2016

## Interest Rate

In [17]:
annual_rate = 0.05
day_count = ql.ActualActual()
compound_type = ql.Compounded
frequency = ql.Annual

interest_rate = ql.InterestRate(annual_rate,
                                day_count,
                                compound_type,
                                frequency)
print(interest_rate)

5.000000 % Actual/Actual (ISDA) Annual compounding

In [18]:
t = 2.0
print(interest_rate.compoundFactor(t))
print((1+annual_rate)*(1.0+annual_rate))

1.1025
1.1025

In [19]:
print(interest_rate.discountFactor(t))
print(1.0/interest_rate.compoundFactor(t))

0.9070294784580498
0.9070294784580498

In [20]:
new_frequency = ql.Semiannual
new_interest_rate = interest_rate.equivalentRate(compound_type, new_frequency, t)

print(new_interest_rate)

4.939015 % Actual/Actual (ISDA) Semiannual compounding

In [21]:
print(interest_rate.discountFactor(t))
print(new_interest_rate.discountFactor(t))

0.9070294784580498
0.9070294784580495

In [22]:
p = ql.Period(3, ql.Years)

In [23]:
p.units()

3

In [24]:
p.length

In [25]:
q2 = ql.Period(2, ql.Years)

In [26]:
p+q2

TypeError: unsupported operand type(s) for +: 'Period' and 'Period'

In [27]:
3*p

Period("9Y")

In [28]:
p/250

TypeError: unsupported operand type(s) for /: 'Period' and 'int'

In [29]:
3*ql.Years

9

In [31]:
p.length()*p.units()

9

In [32]:
q = ql.Period(3, ql.Weeks)

In [33]:
q.length()*q.units()

3